/* 
Selecter Types
===============
Element: p --> <p>
Id: #my-id --> <p id="my-id"> -or- <a id="my-id">
Class: .my-class --> <p class="my-class"> -or- <a class="my-class">
Attribute: img[src] --> <img src="myimage.png"> -butNot- <img>
Pseudo-class: a:hover --> <a> but only when the mouse pointer is hovering over the link
*/
html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    background-color: #00539f;
}

body {  /* Block Element (i.e. it takes up space on the page) */
    width: 600px;
    margin: 0 auto;                 /* Using 2 Values: '0' --> top/bottom, 'auto' --> left/right */
    background-color: #ff9500;
    padding: 0 20px 20px 20px;      /* Using 4 values: order is top-right-bottom-left */
    border: 5px solid black;      /* width-style-color */
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;                          /* '0' overrides the browser applied default spacing for 'h1' */
    padding: 20px 0;                    /* sets top/bottom to 20px, nothing for left/right */
    color: #00539f;
    text-shadow: 3px 3px 1px black;   /* horizontalOffset-verticalOffset-blurRadius-color */
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {   /* Inline Element (therefore 'block' is needed in order for certain features to work) */
    width: 200px;
    display: block;         /* Required in order to have image centered */
    margin: 0 auto;
}